:root {
    --lightbrown: #553C2A;
    --darkbrown: #443022;
    --cardbackground: #fffff4;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: #e1e8f0;
}

#allcontentcontainer, #mainshelfcontainer, .shelf, .book, #sidebar {
    display: grid;
}

#allcontentcontainer {
    justify-self: center;
    grid-template-columns: 1fr 2fr;
    gap: 15%;
    margin-top: 5%;
}

#mainshelfcontainer {
    grid-template: repeat(3, minmax(250px, 1fr)) / minmax(500px, 1fr);
    background-color: var(--lightbrown);
    gap: 10px;
    padding: 10px;
    filter: drop-shadow(0px 25px 20px #000);
}

.shelf {
    background: black;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, var(--darkbrown) 100%);
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 2px;
}

.book {
    background-color: red;
    border-radius: 2px;
    writing-mode: vertical-rl;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 4px;
    cursor: pointer;
    transition: 0.1s;
}

.book:hover, .selectedBook {
    filter: drop-shadow(0px 0px 50px #000);
}

.book:active {
    position:relative;
	top:2px;
}

.book>p {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.author {
    font-size: 1rem;
}

#bookshelfbtn {
    grid-template-rows: 1fr;
    background: none;
    writing-mode: horizontal-tb;
}

#addicon {
    width: 40px;
    filter: brightness(0) invert(1);
}

#bookshelfbtn:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

#mainshelfcontainer .bookshelfbtncurrent {
    background-color: rgba(34, 206, 0, 0.3);
}

#newbookform {
    display: grid;
    grid-template: 1fr 8fr / 1fr 1fr 1fr;
    grid-template-areas:
        "addtoshelfbtn submitchanges cancelbtn"
        "card card card";
    margin: 25px 0;
    font-family: 'Fasthand', cursive;
    gap: 30px;
}

#addtoshelf, #cancel, #submitchanges {
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    place-self: center;
    width: 200px;
    height: 80px;
}

#addtoshelf:hover, #cancel:hover, #submitchanges:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

#addtoshelf:hover {
    background:linear-gradient(to bottom, #52f307 5%, #155e02 100%);
}

#addtoshelf:active, #cancel:active, #submitchanges:active {
    position:relative;
	top:1px;
}

#submitchanges {
    grid-area: submitchanges;
}

#addtoshelf {
    grid-area: addtoshelfbtn;
}

#cancel {
    grid-area: cancelbtn;
}

#notecard {
    grid-area: card;
    display: grid;
    grid-template-rows: 45px repeat(10, 35px);
    background-color: var(--cardbackground);
    border: none;
    height: fit-content;
}

.notecardhead {
    border-bottom: solid 3px #f39a8580;
    text-align: center;
    justify-items: center;
    grid-template-columns: 1fr;
}

#notecard>div {
    display: grid;
    gap: 10px;
    align-items: center;
}

#notecardheadtitle {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: lighter;
}

.notecardbody {
    border-bottom: solid 1px #2956EE80;
    grid-template-columns: 1fr 5fr;
}

.notecardbody input {
    border: solid 1px lightgray;
    border-radius: 5px;
    height: 1.5rem;
    width: 400px;
    padding-bottom: 1px;
    margin-bottom: 3px;
    font-size: 1.2rem;
}

.notecardbody>.invalid {
    border: solid 2px red;
}

.invalidmessage {
    font-family:Arial;
    align-self: baseline;
    margin: 1px 5px;
    color: red;
}

.notecardbody label {
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: lighter;
}

#haveread {
    width: 20px;
    height: 20px;
    border: solid 1px lightgray;
    cursor: pointer;
}

.hiddenclass {
    visibility: hidden;
}